.page{
    width: 80%;
    margin: auto;
    height: 200px;
    padding: 20px 20px;
    background-color: antiquewhite;
    border-radius: 10px;
}


.modal{
    width: 50%; 
    margin: auto;
    height: 80px;
    padding: 10px 10px;
    background-color: rgb(239, 180, 103);
    border-radius: 10px;
    display: none;
}

.btn{
    padding-top: 10px 10px;
    background-color: brown;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}